.opasity-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba($color: #000000, $alpha: 0.6);
  @include display-flex(row, center,center);
}

.modal {
  padding: 30px 25px;
  border-radius: 4px;
  background-color: $color_white;
}

.modal__autorization,
.modal__registration {
  @include display-flex(column, center,center);
}

.modal__title {
  @include font-size(25px, 30px, 600);
  color: $color_purple;
  margin: 0 0 15px;
}

.modal__input-box {
  padding: 10px 0;
  position: relative;
}

.autorization__password-ico,
.registration__password-ico,
.registration__password-repeat-ico {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.password__ico-show {
  background-image: url('assets/ico/ico_show-pass.png');
}

.password__ico-hidden {
  background-image: url('assets/ico/ico_hidden-pass.png');
}

.autorization__login,
.autorization__password,
.registration__name,
.registration__email,
.registration__login,
.registration__password,
.registration__password-repeat {
  width: 260px;
  height: 40px;
  padding: 0 0 0 10px;
  border-radius: 4px;
  border: 0.5px solid $color_purple;
  background-color: $color_white-gray;
  outline: none;
}

.autorization__bnt,
.registration__bnt {
  width: 200px;
  height: 40px;
  margin: 15px 0;
  color: $color_white;
  background: $gradient;
  border-radius: 4px;
  @include font-size(18px, 20px, 600);

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.20);
    transition: $transition;
  }

  &:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.20);
    transition: $transition;
  }
}

.autorization__question-block {
  @include display-flex(column, center,center);
  padding: 70px 0 0;
}

.question-block__question-link-registration {
  cursor: pointer;
  text-decoration: underline;

    &:hover {
      color: $color_purple;
      transition: $transition;
    }
}

.input_error .input {
  border: 1.7px solid red;
}

.input_error .input_error-text {
  font-size: 12px;
  color: red;
}
