.main {
  padding: $container-padding;
}

.main__wrapper {
  padding: 35px 0 80px;
  user-select: none;
}
.banner {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  background: $gradient;
  @include display-flex(column, center, center);
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.banner__btn-create-logo {
  width: 200px;
  height: 40px;
  border-radius: 4px;
}

.templates-block {
  margin: 35px 0;
  @include display-flex(row, center, center);
  gap: 35px;
  cursor: pointer;
  flex-wrap: wrap;
}

.templates-block__template-card:hover {
  transition: $transition;
  transform: scale(1.1);
}

.template-card__img {
  width: 250px;
  height: 150px;
}

.template-card__title {
  @include font-size(16px, 22px, 600);
  padding: 15px 0 0;
}

.lates-designs-block {
  @include display-flex(column, center, center);
}

.lates-designs-block__title {
  @include font-size(24px, 33px, 600);
  text-align: left;
  width: 100%;
  margin: 0 0 20px;
}

.lates-designs-block__bg-block {
  width: 100%;
  @include display-flex(column, center, center);
}

.bg-block__img {
  width: 300px;
  height: 300px;
  background-image: url('assets/img/image.png');
}

.bg-block__title {
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.banner__text-block_title {
  @include font-size(28px, 33px, 600);
  color: $color_white-gray;
}

@media (max-width: 530px) {
  .banner__text-block_title {
    @include font-size(24px, 25px, 600);
  }
}
