/// it
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Maven+Pro&family=Quantico&family=Wallpoet&display=swap');

/// style
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@500&family=Kaushan+Script&family=Tangerine&display=swap');

/// food
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Caveat+Brush&family=Merienda+One&family=Trirong&display=swap');

/// medical
@import url('https://fonts.googleapis.com/css2?family=Bellota&family=IM+Fell+English+SC&family=Italiana&family=Jacques+Francois+Shadow&display=swap');

//Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

//Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

//Pacifico
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

//Caveat
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

//Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

//Cormorant Infant, Marck Script
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Marck+Script&display=swap');

//Miss Fajardose
@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap');