.btn-log {
  width: 40px;
  height: 40px;
  margin: 0 0 0 35px;
  border-radius: 100%;
  background-color: $color_green;
  @include display-flex(row, center, center);

  &:hover {
    transform: scale(1.1);
    background-color: #053f39;
    transition: $transition;
  }

  &:active {
    transform: scale(1);
    background-color: $color_green;
    transition: $transition;
  }
}

.btn-log__ico {
  width: 24px;
  height: 24px;
  background-image: url('assets/ico/ico_user.png');
}
