@mixin block-style() {
  padding: 0 35px;
  height: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.design-header__arrow-block,
.design-header__save-block,
.design-header__remove-block {
  @include display-flex(row, flex-start, center);
  @include block-style();
}

.design-header__remove-block {
  border: none;
}

.arrow-block__arrow-back {
  @include ico-style(24px, 24px, 'assets/ico/ico_arrow-back-designe.png');
  margin: 0 35px 0 0;
}

.arrow-block__arrow-forward {
  @include ico-style(24px, 24px, 'assets/ico/ico_arrow-forward-designe.png');
}

.save-block__ico {
  @include ico-style(24px, 24px, 'assets/ico/ico_save.png');
}

.remove-block__ico {
  @include ico-style(24px, 24px, 'assets/ico/ico_trash.png');
}

.arrow-block__arrow-back,
.arrow-block__arrow-forward,
.save-block__ico,
.remove-block__ico {
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
  transition: all 0.2s ease-in-out;
}

.header__btn-block {
  @include display-flex(row, flex-start, center);
}

.btn-block__btn-save-in-account {
  opacity: 0.6;
  @include ico-style(24px, 24px, 'assets/ico/ico_save_design.png');

  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 780px) {
  .btn-log {
    margin-left: 15px;
  }
  .design-header__arrow-block,
  .design-header__save-block,
  .design-header__remove-block {
    padding: 0 15px;
  }
  .btn-block__btn-save-in-account {
    padding: 0 15px;
    border: none;
  }
  .arrow-block__arrow-back {
    margin: 0 15px 0 0;
  }
  .header__title {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .header {
    padding: 0 15px;
  }
  .link__text {
    display: none;
  }
}
