@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

.template-text,
.template-element {
  position: absolute;
  line-height: 1.2;
}

.template-text {
  div[contentEditable='true'] {
    outline: none;
  }

  &:focus {
    border: 1px solid rgba(233, 10, 10, 0.679);
    border-radius: 8px;
  }
}

.resize-handle {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: rgba(233, 10, 10, 0.679);
  display: none;
}

.resize-handle-nw {
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}

.resize-handle-ne {
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}

.resize-handle-sw {
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}

.resize-handle-se {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
}

.resize-handle-n {
  width: 20px;
  height: 5px;
  top: -5px;
  right: calc(50% - 10px);
  cursor: n-resize;
}

.resize-handle-s {
  width: 20px;
  height: 5px;
  bottom: -5px;
  right: calc(50% - 10px);
  cursor: s-resize;
}

.resize-handle-e {
  width: 5px;
  height: 20px;
  right: -5px;
  bottom: calc(50% - 10px);
  cursor: e-resize;
}

.resize-handle-w {
  width: 5px;
  height: 20px;
  left: -5px;
  bottom: calc(50% - 10px);
  cursor: w-resize;
}

.layout-templates {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 50px;

  img:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: $transition;
  }
}
