.template-text,
.template-element {
  position: absolute;
  line-height: 1.2;
}

.template-text {
  div[contentEditable='true'] {
    outline: none;
  }
}

.resize-handle {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  background-color: $color_purple;
  border: 1px solid $color_white;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.147);
  display: none;
}

.resize-handle-nw {
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}

.resize-handle-ne {
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}

.resize-handle-sw {
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}

.resize-handle-se {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
}

.resize-handle-n {
  width: 20px;
  height: 5px;
  top: -5px;
  right: calc(50% - 10px);
  cursor: n-resize;
}

.resize-handle-s {
  width: 20px;
  height: 5px;
  bottom: -5px;
  right: calc(50% - 10px);
  cursor: s-resize;
}

.resize-handle-e {
  width: 5px;
  height: 20px;
  right: -5px;
  bottom: calc(50% - 10px);
  cursor: e-resize;
}

.resize-handle-w {
  width: 5px;
  height: 20px;
  left: -5px;
  bottom: calc(50% - 10px);
  cursor: w-resize;
}

.layout-templates {
  padding: 0 50px;

  img {
    margin-bottom: 20px;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: $transition;
  }
}

.layout-canvas {
  justify-self: center;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
}

.element-tools {
  position: fixed;
  display: none;
  flex-direction: column;
  padding: 10px;
  top: 160px;
  right: 1%;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: $color_white;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.element-tools_copy {
  @include ico-style(24px, 24px, 'assets/ico/ico_element-tool-copy.png');
  &:hover {
    box-shadow: 0px 0px 0px 4px $color_white-gray;
    border-radius: 4px;
  }
  &:active {
    box-shadow: 0px 0px 0px 4px $color_light-gray;
    border-radius: 4px;
  }
}

.element-tools_delete {
  @include ico-style(24px, 24px, 'assets/ico/ico_element-tool-delete.png');
  &:hover {
    box-shadow: 0px 0px 0px 4px $color_white-gray;
    border-radius: 4px;
  }
  &:active {
    box-shadow: 0px 0px 0px 4px $color_light-gray;
    border-radius: 4px;
  }
}

.element-tools_front {
  @include ico-style(24px, 24px, 'assets/ico/ico_element-tool-front.png');
  &:hover {
    box-shadow: 0px 0px 0px 4px $color_white-gray;
    border-radius: 4px;
  }
  &:active {
    box-shadow: 0px 0px 0px 4px $color_light-gray;
    border-radius: 4px;
  }
}

.element-tools_back {
  @include ico-style(24px, 24px, 'assets/ico/ico_element-tool-back.png');
  &:hover {
    box-shadow: 0px 0px 0px 4px $color_white-gray;
    border-radius: 4px;
  }
  &:active {
    box-shadow: 0px 0px 0px 4px $color_light-gray;
    border-radius: 4px;
  }
}

.element-tools_color,
.element-tools_bgColor {
  outline: none;
  background: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid $color_light-gray;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 0px 4px $color_white-gray;
    border-radius: 4px;
  }
  &:active {
    box-shadow: 0px 0px 0px 4px $color_light-gray;
    border-radius: 4px;
  }
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
  }
}

.template-elements-block {
  display: grid;
  max-height: 700px;
  grid-template-columns: auto auto;
  padding: 0 25px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $color_dark-gray;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $color_gray;
  }

  &::-webkit-scrollbar-track {
    background-color: $color_dark-gray;
  }
}

.template-elements-block__element {
  width: 100px;
  height: 150px;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    transition: $transition;
  }
}

.template-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  line-height: 1.2;
  color: white;
  text-align: center;

  div {
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    &:hover {
      transform: scale(1.02);
      transition: $transition;
    }
  }
}
