@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-size($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
