@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap'); //

@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-size($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin ico-style($w, $h, $bgi) {
  width: $w;
  height: $h;
  background: url($bgi) center no-repeat;
  cursor: pointer;
}

$color_white: #ffffff;
$color_white-gray: #ebecf0;
$color_light-gray: #d5d6d7;
$color_gray: #4f4f4f;
$color_purple: #8e42ff;
$color_green: #01887a;
$color_black: #18191b;
$color_dark-gray: #252627;

$gradient: linear-gradient(91.91deg, #01c2cd 0%, #3a69df 50.22%, #7d2ae7 100%);
$container-padding: 0 35px;
$transition: all 0.2s ease-in-out;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

a {
  color: $color_gray;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: $color_white;
  color: $color_gray;
  @include font-size(14px, 19px, 400);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.content {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
}

@import 'components/footer/footer.style';
@import 'components/buttons/buttons.style';
@import 'components/header/header.style';
@import 'pages/main/mainHeader.style';
@import 'pages/main/mainContent.style';
@import 'pages/designPage/designPageHeader.style';
@import 'pages/designPage/disignePageContent.style';
@import 'pages/questionPages/questionPages.style';
@import 'components/layoutTemplates/layoutTemplates.style';
@import 'pages/logoResultPage/logoResultPage.style';
@import 'assets/fonts/index';
@import 'components/modalLogIn/modalLogIn.style';
@import 'pages/personalAccountPage/personalAccount.style';
@import 'components/modalLogIn/modalUserData.sryle';
@import 'pages/paintPage/paintPage.style';
@import 'pages/aboutAppPage/aboutAppPage.style';
@import 'components/last-designe/lastDesigne.style';
